<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:andriod="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.beetleink.redgifs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.RedGifs"
        android:usesCleartextTraffic="true">
        <activity android:name=".Fragments.PersonFrag.EditAccount"></activity>
        <activity android:name=".Fragments.PersonFrag.main_menu.LogOut" />
        <activity android:name=".Fragments.PersonFrag.main_menu.DataUsage" />
        <activity android:name=".Fragments.PersonFrag.main_menu.ChangeAccountType" />
        <activity android:name=".Fragments.PersonFrag.main_menu.SettingChangePassword" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".Fragments.PersonFrag.Authentication.LoginActivity" />
        <activity android:name=".Fragments.PersonFrag.Authentication.PWresetActivity" />
        <activity android:name=".Fragments.PersonFrag.Authentication.RegistrationActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>